<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <style>
        body {
            padding-top: 65px;
        }
    </style>
    <th:block layout:replace="fragments/head"></th:block>
</head>
<body>
    <th:block layout:replace="fragments/header"></th:block>
    <th:block layout:fragment="content"></th:block>
    <th:block layout:replace="fragments/footer"></th:block>
    <script type="application/javascript" th:src="@{/js/header.js}"></script>
    <th:block layout:fragment="script"></th:block>
</body>
</html>