<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <th:block layout:fragment="footer">
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Minecraft University 2020</p>
            </div>
<!--            <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/U9YnMpl"><img-->
<!--                src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="개발자에게 먹이주기"><span-->
<!--                style="margin-left:15px;font-size:19px !important;">개발자에게 먹이주기</span></a>-->
            <!-- /.container -->
        </footer>
    </th:block>
</html>