<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default.html}">
<head>

</head>
<body style="background-color: #f2f1f0;">
<th:block layout:fragment="content">
    <div class="container" style="margin-top: 15%;" id="findInfo">
        <h1 style="text-align: center;"><a href="/user/login">마크대학</a></h1>
        <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div class="alert alert-warning" role="alert" v-if="type == 'id'">아이디를 잃어버리셨나요? 아래에 메일주소를 입력해주시길 바랍니다.</div>
        <form class="form-horizontal" @submit.prevent="submit">
            <label for="input_Email">Email</label>
            <input type="email" class="form-control" v-model="findEmail" id="input_Email">
            <input type="button" class="btn btn-primary" value="아이디 찾기" style="float:right; margin-top: 1%; margin-bottom: 1%" v-if="type == 'id'" @click="findMyId">
            <div class="alert alert-success col-sm-12" role="alert" v-if="type == 'id' && foundId != ''">찾으시는 아이디가 {{foundId}}입니까? 메일로 전체 아이디를 확인하시려면 아래 버튼을 클릭해주시길 바랍니다.</div>
            <div class="alert alert-danger col-sm-12" role="alert" v-if="message != ''">{{message}}</div>
            <input type="button" class="btn btn-primary" value="전체 아이디 찾기" style="float:right; margin-top: 1%; margin-bottom: 1%" v-if="type == 'id' && foundId != ''" @click="findMyFullId">
        </form>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script>
        const findInfoVue = new Vue({
           el: '#findInfo',
           data : {
               type : 'id',
               findEmail : '',
               checkEmail : '',
               foundId : '',
               message : ''
           },
            methods: {
               findMyId : function() {
                   this.findEmail = this.findEmail.trim();
                   this.checkEmail = this.findEmail;
                   if(this.checkEmail === '') {
                       alert("이메일이 비어있습니다.");
                       return;
                   }

                   if (this.checkEmail.indexOf("@") < 0) {
                       alert("이메일 형태가 아닙니다.");
                       return;
                   }

                   axios.post('/user/findInfo/id', {
                           email : this.checkEmail
                       },
                       {
                           headers: {
                               "X-CSRF-TOKEN": document.getElementById("csrf").value
                           }
                       }
                   ).then(value => {
                       if(value.data.code === "success") {
                           this.foundId = value.data.userId;
                           this.message = '';
                       } else if(value.data.code === "fail") {
                           this.foundId = '';
                           this.message = value.data.message;
                       }
                   }).catch(reason => {
                       return false;
                   });
               },
                findMyFullId : function() {
                    if(confirm("메일을 발송합니까?")) {
                        axios.post('/user/findInfo/fullId', {
                                email : this.checkEmail
                            },
                            {
                                headers: {
                                    "X-CSRF-TOKEN": document.getElementById("csrf").value
                                }
                            }
                        ).then(value => {
                            if(value.data.code === "success") {
                                alert(value.data.message);
                                this.message = '';
                            } else if(value.data.code === "fail") {
                                this.message = value.data.message;
                            }
                        }).catch(reason => {
                            return false;
                        });
                        return;
                    }
                }
            }
        });
    </script>
</th:block>
<th:block layout:fragment="css">
</th:block>
</body>
</html>